*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-news {
  width: 100%;
  margin-top: 4.375em;
  position: relative;
 }
 
 .main-news > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 
 .main-poistion {
  position: absolute;
  top: 0;
  height: 99%;
  width: 50%;
 }
 .main-cover{
  height: 100%;
  width: 100%;
  object-fit: cover;
 }
 
 .image-txt {
  position: absolute;
  top: 2.5em;
  left: 6.25em;
  color: #fff;
 }
 
 .txt-top {
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.75em;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
 }
 
 .txt-mid1 {
  margin-left: 0.625em;
 }
 
 .main-header-title {
  display: none;
  text-transform: uppercase;
  margin-left: 0.625em;
  color: #00677f;
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 600;
 }
 
 .txt-mid, .txt-mid1 {
  font: 2.375em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  margin-top: 1.25em;
 }
 .footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
  padding: 2.5em 2.5em;
}

.footer-column {
  flex: 1;
}

.footer-first-top {
  font: 700 1.125em/1.5em "Helvetica Neue LT W1G", Helvetica, sans-serif; /* 18px/24px */
  margin-bottom: 0.625em;
  color: #ebebec;
}

.footer-first-mid {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.75em;
  text-align: left;
  color: #c9cacc;
}

.footer-first-bootom {
  margin-top: 0.625em;
  color: #c9cacc;
}

.footer-second {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em; 
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  color: #ffffff;
}

.footer-second-top {
  color: #ebebec;
  font-family: "Helvetica Neue LT W1G", Helvetica;
}

.footer-second-p {
  color: white;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  cursor: pointer;
}

.footer-third {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  color: #ffffff;
}

.footer-third-top {
  color: #ebebec;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
}

.footer-third-p {
  color: white;
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  cursor: pointer;
}

.footer-fourth {
  font-family: "Helvetica Neue LT W1G", Helvetica;
  font-size: 1em;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
  color: #ffffff;
}

.footer-fourth-top {
  color: #ebebec;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  background-color: #4a4a4a;
  padding: 2.5em 2.5em; 
  margin-top: 0.0625em; 
}

.pre-footer-logo {
  height: 2em !important;
  margin-top: 0.625em;
  cursor: pointer;
}

.button > a {
  text-decoration: none;
  color: #fff;
}

.pre-footer-first {
  color: #ebebec;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em; 
  text-align: left;
}

.pre-footer-second {
  color: #ebebec;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
  cursor: pointer;
}

.pre-footer-third {
  color: #ebebec;
  font: 0.875em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.375em;
  text-align: left;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  margin-top: 0.625em;
}

.connect-top,
.connect-bottom {
  display: flex;
  flex-direction: column;
}

.connect-top > img,
.connect-bottom > img {
  margin-bottom: 0.625em;
}

.footer-first {
  width: 50%;
}

.main-btn-newsroom2 {
  display: none;
}

.our-story-mob {
  display: none;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.625em;
  margin-top: -3.75em;
  padding-right: 1.875em;
}

.connect-top > a > img, .connect-bottom > a > img {
  width: 1.5em;
}

.socials > p {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  color: gray;
}

 .newsroom-about {
  margin-top: 7.5em;
  padding: 0 6.25em;
 }
 
 .newsroom-about-title {
  color:  #00677f;
  font: 1.125em "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375em;
  letter-spacing: 0.1125em;
  text-transform: uppercase;
  white-space: nowrap;
 }
 
 .newsroom-about-main {
  display: flex;
  align-items: center;
  gap: 6.25em;
  margin-top: -2.25em;
 }
 
 .newsroom-about-left-heading {
  font: 3.125em "Helvetica Neue LT W1G", Helvetica; 
  font-weight: 400;
  line-height: 1.25em;
  text-align: left;
  margin-top: 1.5em;
 }
 
 .newsroom-about-left-heading > span {
  font-weight: 700;
 }
 
 .newsroom-top {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
 }
 
 .newsroom-right {
  font: 1.25em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 700;
  line-height: 1.5em;
  text-align: left;
  margin-top: 1em;
 }
 
 .newsroom-right-investor {
  font: 0.75em "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-align: left;
  margin-top: 0.125em;
  color: #54585A;
  opacity: 0.8;
 }
 
 .main-btn-newsroom {
  display: flex;
  align-items: center;
  gap: 0.625em;
  margin-top: 2.5em;
  cursor: pointer;
 }
 
 .main-btn-newsroom > p {
  font: 1em "Helvetica Neue LT W1G", Helvetica;
 }
 
 .animation-btn:hover {
  color: red !important;
 }
 @media (min-width: 600px) {
  body {
    font-size: 0.5em;
    margin: 0;
  }
 }
 @media (min-width: 900px) {
  body {
    font-size: 0.75em;
    margin: 0;
  }
 }
@media (min-width: 1480px) {
 body {
   font-size: 1.25em;
   margin: 0;
 }
}

@media (min-width: 1600px) {
 body {
   font-size: 1.5em;
   margin: 0;
 }
}

@media (min-width: 1900px) {
 body {
   font-size: 1.75em;
   margin: 0;
 }
}

@media (min-width: 2200px) {
 body {
   font-size: 2em;
   margin: 0;
 }
}

@media (min-width: 1450px) {
  body {
    font-size: 1em;
  }
 }
 
 @media (min-width: 1600px) {
  body {
    font-size: 1.4em;
  }
 }
 
 @media (min-width: 1900px) {
  body {
    font-size: 1.5em;
  }
 }
 
 @media (min-width: 2200px) {
  body {
    font-size: 2em;
  }
 }
 @media (min-width: 2400px) {
  body {
    font-size: 2em;
  }
 }
 
 @media (min-width: 2800px) {
  body {
    font-size: 2em;
  }
 }
 
 @media (min-width: 3200px) {
  body {
    font-size: 2em;
  }
 }
 
 @media (min-width: 3400px) {
  body {
    font-size: 2em;
  }
 }
 
 @media (min-width: 3800px) {
  body {
    font-size: 3em;
  }
 }
 
 @media (min-width: 4200px) {
  body {
    font-size: 4em;
  }
 }
 
